button {
  all: unset;
}

.container {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  height: 2.4em;
}

.root {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-shrink: 0;
  place-items: center center;

  width: 18px;
  height: 18px;

  background-color: transparent;

  &::after {
    content: '';

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    background-color: transparent;
    border-radius: 50%;

    transition: all 100ms;
  }

  .square {
    position: absolute;
    z-index: 4;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    border: 2px solid var(--color-text-normal);
    border-radius: 2px;
  }

  &:not([data-disabled]):hover::after {
    z-index: 1;
    transform: translate(-50%, -50%) scale(2.2);
    background-color: var(--color-bg-tertiary);
    transition: all 30ms;
  }

  &:not([data-disabled]):active::after {
    z-index: 1;
    background-color: var(--color-text-subdued);
    transition: all 0ms;
  }

  &:not([data-disabled]):focus-visible::after {
    transform: translate(-50%, -50%) scale(2.2);
    background-color: var(--color-text-subdued);
    transition: all 0ms;
  }

  &[data-disabled] {
    pointer-events: none;

    .square {
      pointer-events: none;
      border-color: var(--color-text-disabled);
    }
  }

  &:not([data-disabled])[data-state='checked'] {
    color: var(--color-text-inverted);
    background-color: var(--color-text-normal);
    border-color: var(--color-text-normal);

    .square {
      color: var(--color-text-inverted);
      background-color: var(--color-text-normal);
      border-color: var(--color-text-normal);
    }
  }

  &[data-disabled][data-state='checked'] {
    color: var(--color-text-inverted);
    background-color: var(--color-text-disabled);
    border-color: var(--color-text-disabled);

    .square {
      color: var(--color-text-inverted);
      background-color: var(--color-text-disabled);
      border-color: var(--color-text-disabled);
    }
  }
}

.indicator {
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  &[data-state='checked'] {
    animation: rotate 250ms ease-out;
  }

  &[data-state='unchecked'] {
    animation: uncheck 100ms ease-in;
  }
}

.label {
  cursor: pointer;
  z-index: 4;
  color: var(--color-text-normal);
}

@keyframes check {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes uncheck {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(-90deg);
    opacity: 0;
  }

  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.disabled {
  pointer-events: none;
  color: var(--color-text-disabled);
}
