.container {
  color: var(--color-text-subdued);

  &:focus-within {
    color: var(--color-text-subdued);
  }
}

.inputContainer {
  position: relative;
}

.label {
  color: inherit;
}

textarea {
  width: 100%;
  padding: 6px;

  color: var(--color-text-subdued);

  background-color: transparent;
  border: 0;
  border-radius: 2px;
  outline: 1px solid var(--color-border);
  box-shadow: 0 0 7px rgb(0 0 0 / 10%);

  &:focus-visible {
    outline: 2px solid var(--color-outline-focus);
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-text-disabled);

    &::placeholder {
      color: var(--color-text-disabled);
    }
  }

  &:hover:not(:focus) {
    background-color: var(--color-border);
    outline: 1px solid var(--color-border-highlighted);
  }
}

.transparent {
  color: transparent;
}

.disabled {
  pointer-events: none;
  color: var(--color-text-disabled);
}

.active {
  color: var(--color-text-normal);
  outline: 1px solid var(--color-text-normal);

  &:focus {
    color: var(--color-text-normal);
    outline: 1px solid var(--color-text-normal);
  }
}

.errorInput {
  color: var(--color-danger);
  outline: 1px solid var(--color-danger);

  &::placeholder {
    color: var(--color-danger);
  }
}
