.container {
  color: var(--color-dark-100);

  &:focus-within {
    color: var(--color-text-normal);
  }
}

.inputContainer {
  position: relative;
}

.label {
  color: var(--color-dark-100);
}

textarea {
  width: 100%;
  padding: 6px;

  //chrome default (normal) is 1.2 font-size
  // line-height: var(--line-height-s);
  color: var(--color-dark-100);

  background-color: transparent;
  border: 0;
  border-radius: 2px;
  outline: 1px solid var(--color-dark-100);
  box-shadow: 0 0 7px rgb(0 0 0 / 10%);

  &::placeholder {
  }

  &:focus-visible {
    outline: 2px solid var(--color-outline-focus);
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-dark-300);
    outline: 1px solid var(--color-dark-300);
  }

  &:hover:not(:focus) {
    background-color: var(--color-dark-500);
    outline: 1px solid var(--color-dark-100);
  }
}

.transparent {
  color: transparent;
}

.disabled {
  pointer-events: none;
  color: var(--color-dark-300);
}

.whiteOutline {
  color: var(--color-light-100);
  outline: 1px solid var(--color-light-100);

  &:focus {
    color: var(--color-light-100);
    outline: 1px solid var(--color-light-100);
  }
}

.errorInput {
  color: var(--color-danger);
  outline: 1px solid var(--color-danger);

  &::placeholder {
    color: var(--color-danger);
  }
}
