.card {
  width: calc(500px + 48px);
}

.formSection {
  margin-bottom: 12px;
  padding: 0 36px;
}

.sectionTitle {
  margin-bottom: 12px;
}

.shotsCount {
  margin-bottom: 35px;
  color: var(--color-text-subdued);
}

.footer {
  display: flex;
  margin-top: 41px;
  margin-bottom: 36px;
  padding: 0 36px;
}
