.root {
  color: var(--color-text-subdued);

  &:focus-within {
    color: var(--color-text-subdued);
  }
}

.inputContainer {
  position: relative;
}

.label {
  color: inherit;
}

.prefixIcon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0.3em;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  height: 100%;
}

.suffixIcon {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0.3em;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  height: 100%;
}

.input {
  width: 100%;
  padding: 6px;

  color: inherit;

  background-color: transparent;
  border: 0;
  border-radius: 2px;
  outline: 1px solid var(--color-border);

  &::-webkit-search-cancel-button {
    appearance: none;
  }

  &:focus-visible {
    color: var(--color-text-normal);
    outline: 2px solid var(--color-outline-focus);
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-text-disabled);
  }

  &:hover:not(:focus) {
    background-color: var(--color-border);
    outline: 1px solid var(--color-border-highlighted);
  }
}

.errorInput {
  color: var(--color-danger);
  outline: 1px solid var(--color-danger);

  &:hover {
    outline: 1px solid var(--color-danger);
  }

  &:focus {
    outline: 1px solid var(--color-danger);
  }
}

.inputWithPrefix {
  padding-left: 24px;
}

.inputWithSuffix {
  padding-right: 24px;
}

.disabled {
  color: var(--color-text-disabled);
}

.active {
  color: var(--color-text-normal);
  outline: 1px solid var(--color-text-normal);

  &:focus {
    color: var(--color-text-normal);
    outline: 1px solid var(--color-text-normal);
  }
}

.transparent {
  color: transparent;
}
