@mixin typography($fontSize, $lineHeight, $fontWeight) {
  margin: 0;

  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: var(--color-text-normal);
}

@mixin link($fontSize, $color, $fontWeight, $decoration: none) {
  cursor: pointer;

  padding: 6px 10px;

  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
  text-decoration: $decoration;

  background-color: transparent;
  border: none;
  border-radius: 4px;
  outline-color: transparent;

  &:hover {
    color: var(--color-primary-hover);
  }

  &:active {
    color: var(--color-primary-active);
  }

  &:focus-visible {
    color: var(--color-primary);
    border-radius: 999px;
    outline: 2px solid var(--color-outline-focus);
  }

  &:disabled {
    color: var(--color-primary-disabled);
    outline-color: transparent;
  }
}

.large {
  @include typography(var(--font-size-xxl), var(--line-height-l), var(--font-weight-bold));
}

.h1 {
  @include typography(var(--font-size-xl), var(--line-height-l), var(--font-weight-bold));
}

.h2 {
  @include typography(var(--font-size-l), var(--line-height-m), var(--font-weight-bold));
}

.h3 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.body1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-regular));
}

.subtitle1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.body2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));
}

.subtitle2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-bold));
}

.overline {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-bold));
}

.caption {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));
}

.subdued {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));
  color: var(--color-text-subdued);
}

.link1,
.link1:visited {
  @include link(var(--font-size-s), var(--color-text-normal), var(--font-weight-regular));
}

.link2,
.link2:visited {
  @include link(var(--font-size-m), var(--color-text-link), var(--font-weight-bold), underline);
}

.error {
  @include typography(var(--font-size-xs), var(--line-height-m), var(--font-weight-regular));

  color: var(--color-danger);
}
