@import '@/styles/mixins/flex-container';

.pageHeader {
  @include flex-container-row(center, space-between);

  margin-top: 36px;
  margin-bottom: 36px;
}

.page {
  @include flex-center-column;

  gap: 20px;
  min-height: calc(100vh - var(--header-height) - 1px);

  // padding-top: 36px;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
}

.paginationContainer {
  padding: 50px 0;
}

.textFieldContainer {
  width: 100%;
  margin-bottom: 10px;
}

.dropdownMenuItem {
  padding-top: 10px;
  padding-bottom: 10px;
}

.flexRow {
  @include flex-container-row(center, space-between);
}

.flexColumn {
  @include flex-container-column(flex-end, flex-start);
}

.fullWidth {
  width: 100%;
}

.link {
  @include flex-container-row(center, center);

  padding: 0;
  text-decoration: none;

  &[data-disabled] {
    pointer-events: none;
    cursor: default;
    color: var(--color-text-subdued);
  }
}

.subduedText {
  color: var(--color-text-subdued);
}
