html {
  box-sizing: border-box;
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a {
  color: var(--color-text-normal);
  text-decoration: none;

  &:hover {
    color: var(--color-primary);
  }

  &:visited {
    color: var(--color-text-normal);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-size: 16px;

  background: linear-gradient(
    rgb(255 255 255 / 0%) 0%,
    rgb(0 174 255 / 4%) 50%,
    rgb(255 255 255 / 0%) 51%,
    rgb(0 174 255 / 3%) 100%
  );
  box-shadow: 0 0 0 1000px transparent inset;

  transition: background-color 5000s ease-in-out 0s;

  -webkit-text-fill-color: var(--color-light-100);
}

body {
  --color-primary: var(--color-accent-500);
  --color-primary-hover: var(--color-accent-300);
  --color-primary-active: var(--color-accent-700);
  --color-primary-disabled: var(--color-accent-900);
  --color-secondary: var(--color-dark-300);
  --color-danger: var(--color-danger-300);
  --color-warning: var(--color-warning-300);
  --color-success: var(--color-success-300);
  --color-info: var(--color-info-300);
  --color-outline-focus: var(--color-info-700);

  // text
  --color-text-normal: var(--color-light-100);
  --color-text-subdued: var(--color-dark-100);
  --color-text-disabled: var(--color-dark-300);
  --color-text-inverted: var(--color-dark-900);
  --color-text-link: var(--color-accent-500);

  //   // borders
  // --color-border-primary: #313131;
  --color-border: var(--color-dark-500);

  // backgrounds
  --color-bg-primary: var(--color-dark-900);
  --color-bg-secondary: var(--color-dark-700);
  --color-bg-paper: var(--color-dark-700);
  --color-bg-tertiary: var(--color-dark-500);

  // layout

  margin: 0;
  padding: 0;

  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  &[data-theme='light'] {
    --color-bg-primary: var(--color-light-300);
    --color-bg-secondary: var(--color-light-300);
    --color-bg-tertiary: var(--color-light-900);
    --color-primary: var(--color-accent-500);
    --color-border: var(--color-light-900);

    // text
    --color-text-normal: var(--color-dark-700);
    --color-text-subdued: var(--color-dark-300);
    --color-text-inverted: var(--color-light-100);
    --color-text-link: var(--color-accent-500);
  }
}

// .dark {
//   // --color-primary: var(--color-accent-500);
//   --color-primary-hover: var(--color-accent-300);
//   --color-primary-active: var(--color-accent-700);
//   --color-secondary: #ffc700;
//   --color-danger: var(--color-danger-500);
//   --color-danger-hover: var(--color-danger-600);
//   --color-danger-active: var(--color-danger-700);
//   --color-outline-focus: var(--color-info-700);
//   // text
//   --color-text-primary: var(--color-light-100);
//   --color-text-link: var(--color-primary);
//   // backgrounds
//   --color-bg-primary: var(--color-dark-900);
//   --color-bg-secondary: #fcfcfc;
//   --color-bg-tertiary: #efefef;
//   --color-bg-paper: var(--color-dark-700);
//   // borders
//   --color-border-primary: #313131;
// }
// .light {
//   // --color-primary: var(--color-accent-500);
//   --color-primary-hover: var(--color-accent-300);
//   --color-primary-active: var(--color-accent-700);
//   --color-secondary: #ffc700;
//   --color-danger: var(--color-danger-500);
//   --color-danger-hover: var(--color-danger-600);
//   --color-danger-active: var(--color-danger-700);
//   --color-outline-focus: var(--color-info-700);
//   // text
//   --color-text-primary: var(--color-light-100);
//   --color-text-link: var(--color-primary);
//   // backgrounds
//   --color-bg-primary: var(--color-light-100);
//   --color-bg-secondary: #fcfcfc;
//   --color-bg-tertiary: #efefef;
//   --color-bg-paper: var(--color-dark-700);
//   // borders
//   --color-border-primary: #313131;
// }

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}
