button {
  all: unset;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 0.5em 1em;
  align-items: flex-start;
}

.horizontal {
  flex-direction: row;
  align-items: center;
}

.itemContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.item {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  color: var(--color-primary);

  border-radius: 50%;
  box-shadow: inset 0 0 0 1.5px var(--color-primary);

  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2em;
    height: 2em;

    background-color: transparent;
    border-radius: 50%;
  }

  &[data-disabled] {
    pointer-events: none;
    color: var(--color-primary-disabled);
    box-shadow: inset 0 0 0 1.5px var(--color-primary-disabled);
  }

  &:not([data-disabled]):hover {
    box-shadow: inset 0 0 0 1.5px var(--color-primary);

    &::after {
      background-color: var(--color-bg-tertiary);
      transition: background-color 300ms;
    }
  }

  &:not([data-disabled]):focus-visible {
    &::after {
      background-color: var(--color-bg-secondary);
    }
  }

  &:not([data-disabled]):active {
    &::after {
      background-color: var(--color-accent-900);
      transition: background-color 100ms;
    }
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  pointer-events: none;
  color: var(--color-text-disabled);
}

.pointer {
  cursor: pointer;
}
