button {
  all: unset;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 0.5em 1em;
  align-items: flex-start;
}

.horizontal {
  flex-direction: row;
  align-items: center;
}

.itemContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.item {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  color: var(--color-primary);

  border-radius: 50%;
  box-shadow: inset 0 0 0 1.5px var(--color-primary);

  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1px;
    height: 1px;

    background-color: transparent;
    border-radius: 50%;
  }

  &[data-disabled] {
    pointer-events: none;
    color: var(--color-primary-disabled);
    box-shadow: inset 0 0 0 1.5px var(--color-primary-disabled);
  }

  &[data-state='checked'] {
    box-shadow: none;
  }

  &:not([data-disabled]):hover {
    &::after {
      width: 36px;
      height: 36px;
      background-color: var(--color-bg-tertiary);
      transition:
        background-color 300ms,
        width 150ms,
        height 150ms;
    }
  }

  &:not([data-disabled]):focus-visible {
    &::after {
      background-color: var(--color-bg-secondary);
    }
  }

  &:not([data-disabled]):active {
    &::after {
      background-color: var(--color-accent-900);
      transition: background-color 100ms;
    }
  }
}

.indicator {
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .dot {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1.5px var(--color-primary);
  }

  &[data-disabled] {
    .dot {
      box-shadow: inset 0 0 0 1.5px var(--color-primary-disabled);
    }
  }
}

.disabled {
  pointer-events: none;
  color: var(--color-text-disabled);
}

.pointer {
  cursor: pointer;
}

// .dot {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//
//   width: 18px;
//   height: 18px;
//
//   border-radius: 50%;
//   box-shadow: inset 0 0 0 1.5px var(--color-primary);
// }
