.formSection {
  margin-bottom: 36px;
  padding: 24px 24px 0;

  .formItem:nth-last-child(2) {
    margin-bottom: 20px;
  }
}

.content {
  width: calc(500px + 48px);
}

.dialogFooter {
  // padding-top: 12px;
}
