.formSection {
  padding-right: 24px;
  padding-left: 24px;

  .formItem:last-child {
    // margin-bottom: 20px;
  }
}

.content {
  width: calc(500px + 48px);
}

.tabs {
  margin-bottom: 24px;
}

.dialogHeader {
  border: none;
}

.tabsList {
  position: relative;
  display: flex;
  align-items: flex-end;
  outline-color: transparent;

  &::after,
  &::before {
    content: 'filler';

    min-width: 10px;
    min-height: 10px;
    padding: 6px 0;

    font-weight: 500;
    color: transparent;

    border-bottom: 1px solid var(--color-border);
  }

  &::before {
    width: 24px;
  }

  &::after {
    display: block;
    flex-grow: 1;
    min-width: 10px;
    min-height: 10px;
  }

  .tabsTrigger {
    border-bottom: none;
    border-radius: 0;
    outline-color: transparent;

    &:first-child {
      border-top-left-radius: 2px;
    }

    &:last-child {
      border-top-right-radius: 2px;
    }
  }

  .underline {
    flex-grow: 1;
  }
}

.hidden {
  overflow: hidden;
  height: 0;
  margin: 0;

  // visibility: hidden;
}
