.root {
  --font-size: 1em;

  // --font-weight: 700;
  user-select: none;

  position: relative;

  overflow: clip;
  display: inline-flex;

  // align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 36px;
  height: 100%;
  min-height: 36px;

  // it's better not to set font-size explicitly here due to css specificity -
  // external className won't override defined css properties without using
  // two classes or !important in a parent styles
  // with 1em for .fallback it will be picked up from the nearest parent that has it
  // css variables here aren't necessary
  // though it is possible to use them instead of css properties from a parent, but
  // it would be not that straightforward - a user needs to know variables names

  font-weight: var(--font-weight, 500);
  line-height: 1;

  background-color: var(--color-bg-primary);
  border-radius: 50%;

  // vertical-align: middle;
}

// https://qna.habr.com/q/469555
// .root::after {
//   content: '';
//   display: block;
//   padding-top: 100%;
// }

.image {
  // 'object-fit: cover' results to more informative part of a picture
  // position: absolute;
  // top: 0;
  // left: 0;

  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100%;

  font-size: var(--font-size);
  font-weight: inherit;
  line-height: inherit;
  color: var(--color-text-normal);

  background-color: var(--color-primary);
}
