.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);
  padding-right: 10vw;
  padding-left: 10vw;

  color: var(--color-text-normal);

  background-color: var(--color-bg-secondary);
  border-bottom: 1px solid var(--color-border);
}

.main {
  min-height: calc(100vh - var(--header-height));
  padding-top: 1px;
  padding-right: 10vw;
  padding-left: 10vw;

  color: var(--color-text-normal);

  background-color: var(--color-bg-primary);
}

.headerPart {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
}

.userMenuHeadingItem {
  pointer-events: none;

  .userMenuHeadingItemContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.subduedText {
  color: var(--color-text-subdued);
}
