@mixin flex-center-row {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

@mixin flex-container-row($align: center, $justify: center) {
  display: flex;
  gap: 0.5em;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-container-column($align: center, $justify: center) {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: $align;
  justify-content: $justify;
}
